{% extends "Appfinal/index.html" %}
{% load static %}

{% block section1 %}

<head>
  <title>Información de la Cerveza APA</title>
  </head>
  <body>
    <h1>APA (American Pale Ale)</h1>
  
    <img src="{% static 'Appfinal\imagenes\apa.jpg'%}" alt="Cerveza APA">
  
    <h2>Descripción</h2>
    <p>Una American Pale Ale (APA) es un estilo de cerveza originario de los Estados Unidos. Es similar a las IPAs en cuanto a su contenido de lúpulo, pero generalmente tiene un menor nivel de amargor y un menor contenido de alcohol. Las APAs suelen presentar un equilibrio entre el sabor del lúpulo y la malta, con notas cítricas y florales.</p>
  
    <h2>Características</h2>
    <ul>
      <li><strong>Contenido de Alcohol:</strong> Típicamente varía entre 4.5% y 6.2% en volumen de alcohol (ABV).</li>
      <li><strong>Color:</strong> Dorado claro a ámbar.</li>
      <li><strong>Perfil de Sabor:</strong> Sabor balanceado entre el lúpulo y la malta, con notas cítricas y florales.</li>
      <li><strong>Maridaje:</strong> Carnes asadas, comida picante, platos de pasta y quesos suaves.</li>
    </ul>
  
    <h2>Marcas Populares de APA</h2>
    <ul>
      <li>Sierra Nevada Pale Ale</li>
      <li>Anchor Liberty Ale</li>
      <li>Deschutes Mirror Pond</li>
      <li>Odell 90 Shilling</li>
      <li>Stone Pale Ale</li>
    </ul>
  
  </body>

{% endblock %}
