{% extends "Appfinal/index.html" %}
{% load static %}

{% block section1 %}

<!DOCTYPE html>
<html>
<head>
    <title>Estilos de Cerveza Artesanal y sus Ingredientes</title>
    <img src="{% static 'Appfinal\imagenes\Estilos_blog.jpg'%}" alt="Estilos ">
</head>
<body>
    <h1>Estilos de Cerveza Artesanal</h1>
    <p>Los estilos de cerveza artesanal son variados y ofrecen una amplia gama de sabores y características. Algunos de los estilos más populares incluyen:</p>
    <ul>
        <li>IPA (India Pale Ale): Con un distintivo amargor y aromas a lúpulo, es uno de los estilos más populares en la cerveza artesanal.</li>
        <li>Stout: Con sabores a café y chocolate, esta cerveza oscura es conocida por su cuerpo completo.</li>
        <li>Witbier: Una cerveza de trigo con toques cítricos y especiados, a menudo se sirve con una rodaja de naranja.</li>
        <li>Lager: Un estilo refrescante y suave que incluye variedades como Pilsner y Helles.</li>
        <li>Saison: Cerveza de granja con notas especiadas y afrutadas, perfecta para el verano.</li>
        <li>Golden Ale: Una cerveza de color dorado con sabores suaves y maltosos, a menudo equilibrada con un toque de lúpulo.</li>
        <li>Scottish Ale: Caracterizada por sus sabores de caramelo y frutos secos, con un cuerpo medio y un ligero amargor.</li>
        <li>Porter: Una cerveza oscura con sabores a café, chocolate y notas tostadas, a menudo con un final seco.</li>
        <li>APA (American Pale Ale): Una cerveza equilibrada con toques de lúpulo y malta, ideal para quienes buscan un amargor moderado.</li>
        <li>Stout: Con sabores a café y chocolate, esta cerveza oscura es conocida por su cuerpo completo.</li>
    </ul>
    <br>
    <img src="{% static 'Appfinal\imagenes\materia_prima.jpg'%}" alt="Ingredientes ">

    <h1>Ingredientes de la Cerveza</h1>
    <p>Cuando se trata de cerveza, hay cuatro ingredientes básicos que desempeñan un papel crucial en su elaboración:</p>
    <ol>
        <li><strong>Agua:</strong> El agua puede ser blanda o mineralizada, lo que afecta el sabor y la calidad de la cerveza según el tipo de cerveza que se elabore.</li>
        <li><strong>Levadura:</strong> La levadura es responsable de la fermentación, convirtiendo los azúcares en alcohol y dióxido de carbono, y aportando sabores y aromas únicos.</li>
        <li><strong>Malta:</strong> La malta se elabora a partir de granos de cebada u otros cereales y proporciona los azúcares necesarios para la fermentación, así como sabores y colores característicos.</li>
        <li><strong>Lúpulo:</strong> El lúpulo añade amargor, aromas y sabores a la cerveza, equilibrando la dulzura de la malta.</li>
    </ol>

    <p>Estos ingredientes interactúan de manera compleja para definir las características finales de una cerveza, creando una amplia variedad de estilos y sabores en el mundo de la cerveza artesanal.</p>
</body>
</html>



{% endblock %}
