{% extends "Appfinal/index.html" %}
{% load static %}

{% block section1 %}


<title>Información de la Cerveza Golden Ale</title>
</head>
<body>
<h1>Golden Ale</h1>
<img src="{% static 'Appfinal\imagenes\golden.jpg'%}" alt="Cerveza Golden Ale">
<h2>Descripción</h2>
<p>La Golden Ale es un estilo de cerveza que se caracteriza por su color dorado claro y su sabor suave y refrescante. Es una cerveza de estilo belga que ha ganado popularidad en todo el mundo.</p>
<h2>Características</h2>
<ul>
<li><strong>Contenido de Alcohol:</strong> Por lo general, varía entre 4% y 6% en volumen de alcohol (ABV).</li>
<li><strong>Color:</strong> Dorado claro, similar al color de la paja.</li>
<li><strong>Perfil de Sabor:</strong> Sabor suave y equilibrado, con notas de malta, lúpulo y levadura. Puede tener un ligero toque de especias.</li>
<li><strong>Maridaje:</strong> Mariscos, aves de corral, ensaladas y platos ligeros.</li>
</ul>
<h2>Marcas Populares de Golden Ale</h2>
<ul>
<li>Leffe Blonde</li>
<li>Delirium Tremens</li>
<li>Duvel</li>
<li>Hoegaarden Golden Ale</li>
<li>Golden Draak</li>
</ul>
</body>



{% endblock %}
