{% extends "Appfinal/index.html" %}
{% load static %}

{% block section1 %}

<title>Información de la Cerveza IPA</title>
</head>
<body>
  <h1>IPA (India Pale Ale)</h1>

  <img src="{% static 'Appfinal\imagenes\ipa.jpg'%}" alt="Cerveza IPA">

  <h2>Descripción</h2>
  <p>Una India Pale Ale (IPA) es un estilo de cerveza lupulada con un mayor contenido de alcohol. Se originó en Inglaterra en el siglo XIX, pero ahora es popular en todo el mundo. Las IPAs son conocidas por su fuerte amargor del lúpulo, aroma floral y cítrico, y su color dorado a ámbar.</p>

  <h2>Características</h2>
  <ul>
    <li><strong>Contenido de Alcohol:</strong> Típicamente varía entre 5% y 7.5% en volumen de alcohol (ABV).</li>
    <li><strong>Color:</strong> Dorado a ámbar, con algunas variantes que tienen un tono cobre o rojizo más profundo.</li>
    <li><strong>Perfil de Sabor:</strong> Amargor proveniente del lúpulo, con notas cítricas, de pino y florales prominentes. Algunas IPAs pueden tener una base malteada para equilibrar el amargor.</li>
    <li><strong>Maridaje:</strong> Comida picante, quesos fuertes, carnes a la parrilla y postres ricos.</li>
  </ul>

  <h2>Marcas Populares de IPA</h2>
  <ul>
    <li>Sierra Nevada Torpedo Extra IPA</li>
    <li>Stone IPA</li>
    <li>Goose Island IPA</li>
    <li>Dogfish Head 90 Minute IPA</li>
    <li>Founders All Day IPA</li>
  </ul>

</body>

{% endblock %}
