{% extends "Appfinal/index.html" %}
{% load static %}

{% block section1 %}


<title>Scottish  Beer Information</title>
</head>
<body>
  <h1>Scottish </h1>
  
  <img src="{% static 'Appfinal\imagenes\SCOTISH.jpg'%}" alt="Scottish IPA Beer">
  
  <h2>Description</h2>
  <p>A Scottish is a unique variation of the traditional India Pale Ale (IPA) style that combines the hoppy bitterness of an IPA with the rich maltiness characteristic of Scottish ales. It incorporates the best of both worlds, offering a bold and flavorful beer experience.</p>
  
  <h2>Characteristics</h2>
  <ul>
    <li><strong>Alcohol Content:</strong> Typically ranges from 5% to 7.5% ABV (alcohol by volume).</li>
    <li><strong>Color:</strong> Golden to amber, similar to a traditional IPA.</li>
    <li><strong>Flavor Profile:</strong> Hoppy bitterness, with a strong malt backbone providing a rich and slightly sweet flavor. Notes of caramel and toffee may be present.</li>
    <li><strong>Pairs Well With:</strong> Grilled meats, hearty stews, aged cheeses, and desserts with caramel or toffee flavors.</li>
  </ul>
  
  <h2>Popular Scottish  Brands</h2>
  <ul>
    <li>BrewDog Punk IPA</li>
    <li>Innis & Gunn Hop Gun</li>
    <li>Harviestoun Bitter & Twisted</li>
    <li>Oskar Blues Old Chub</li>
    <li>Tempest Brave New World</li>
  </ul>
  
</body>


{% endblock %}
